<li data-artist="CP-R" data-title="{{this.title}} by {{this.artist}}" data-album="{{@../id}}" data-info="" data-image="" data-duration="">
    <div class="amazingaudioplayer-source" data-src="/public/art/full/{{this.id}}.mp3" data-type="audio/mpeg" />
</li>
