<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EvokeOne - Digital Art, Music and Photography</title>

    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link href='http://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/public/css/dist/main.css">
    <script src="https://www.google.com/recaptcha/api.js?onload=captchaReady&render=explicit"
            async defer>
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/public/js/handlebars.runtime.min.js"></script>
    <script src="/public/js/memory.js"></script>
</head>
<body>

    <div class="page-wrap">
        <header>
            <a class="logo" href="/">
                <svg version="1.1"xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink"x="0px"y="0px"width="820px"height="414px"viewBox="0 0 820 414"enable-background="new 0 0 820 414"xml:space="preserve">
                    <g>
                        <path d="M0, 15.482v90.277h221.306v146.162l146.23, 146.23h49.899L800.105, 15.482H651.198
                        L393.332, 273.349l-64.483-64.484V15.482H0z"/>
                        <path d="M0,165.943v85.978h165.449v-85.978H0z"/>
                        <path d="M0,398.151V297.126h210.562l101.024,101.024H0z"/>
                        <path d="M565.22,398.151v-94.676l-94.575,94.676H565.22z"/>
                        <path d="M459.897,15.482H565.22v41.556L459.897,162.361V15.482z"/>
                        <path d="M820.938,398.151v-18.763L656.247,214.57l-60.9,60.901l122.552,122.679H820.938z"/>
                    </g>
                </svg>
            </a>

            <h3 class="logo-tagline">10 Years of Digital Art, Music, and Photography</h3>

            <nav role="navigation">
                <a href="/archive" title="Archive">Archive</a>
                <a class="highlighted" href="/exhibits/forever" title="forever exhibit">Forever Exhibit</a>
                <a href="/history" title="History of Evokeone">History</a>
                <!-- <a href="/members" title="Archive">Members</a> -->
                <a href="/memories" title="Shared Memories">Memories</a>
            </nav>
        </header>

        <main class="section-wrap {{wrapperClass}}">
            {{{body}}}
        </main>
    </div>


    <footer>
        <a class="logo" href="/">
            <svg version="1.1"xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink"x="0px"y="0px"width="820px"height="414px"viewBox="0 0 820 414"enable-background="new 0 0 820 414"xml:space="preserve">
                <g>
                    <path d="M0, 15.482v90.277h221.306v146.162l146.23, 146.23h49.899L800.105, 15.482H651.198
                    L393.332, 273.349l-64.483-64.484V15.482H0z"/>
                    <path d="M0,165.943v85.978h165.449v-85.978H0z"/>
                    <path d="M0,398.151V297.126h210.562l101.024,101.024H0z"/>
                    <path d="M565.22,398.151v-94.676l-94.575,94.676H565.22z"/>
                    <path d="M459.897,15.482H565.22v41.556L459.897,162.361V15.482z"/>
                    <path d="M820.938,398.151v-18.763L656.247,214.57l-60.9,60.901l122.552,122.679H820.938z"/>
                </g>
            </svg>
        </a>
        <p class="disclaimer">All work and copyright respectively owned by the Evoke Artists.<br>Don't reproduce commercially without explicit permission.</p>

    </footer>

    <script src="/public/js/main.js"></script>
</body>
</html>
