
<div class="hero-wrap">
    <img src="/public/img/archive-hero.jpg">
    <h1>Archive</h1>
</div>

<p>Below, you can download a zip file containing all contributions to Evoke over the years. We decided to make this collection of artwork available as a way to honor the dedication and perseverance of our members over the course of 11 years.</p>

<p>The world of online art groups is naturally ephemeral. Most collectives vanish in the space of months or years, leaving behind little more than a broken domain name. We wanted to ensure that Evoke's legacy would continue, despite the fact that we could no longer sustain the activity necessary to release new exhibitions.</p>

<p>Thus, Evoke members have lovingly curated all of our exhibitions for release in a single archive here for your enjoyment. Please, feel free to share or redistribute this archive as you see fit---we ask only that you leave it in tact so that our artists receive proper credit for their efforts.</p>

<p>Please, try the Bit Torrent link first to obtain the archive. The direct download link puts a greater burden on our servers.</p>

<p>Thank you for your support! Please, enjoy this archive</p>
<div class="btn-wrap">
    <a class="archive-btn btn-lg" href="#">Magnet Link <img src="/public/img/cloud-icon-sm.png" /></a>
    <span class="divider">- OR -</span>
    <a class="archive-btn btn-minimal" href="#">Download Archive directly</a>
</div>
