
<div class="hero-wrap">
    <img src="/public/img/archive-hero.jpg">
    <h1>Archive</h1>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut lobortis eros. Donec at nulla sit amet ipsum volutpat porta. Cras pretium odio quis odio hendrerit eleifend. Nullam eleifend augue suscipit finibus vehicula. Curabitur mi nibh, blandit sed finibus ac, mollis vitae sem.</p>
<div class="btn-wrap">
    <a class="archive-btn btn-lg" href="#">Magnet Link <img src="/public/img/cloud-icon-sm.png" /></a>
    <a class="archive-btn btn-lg" href="#">Download Archive <img src="/public/img/cloud-icon-sm.png" /></a>
</div>
