<div class="hero-wrap">
    <img src="/public/img/contact-hero.jpg">
    <div class="hero-info">
        <h1>Contact Us</h1>
    </div>
</div>

<p>Send us an email at <a href="mailto:james@tothepixel.com">James@tothepixel.com</a>, ask and you can join us on Slack!</p>
