
<div class="hero-wrap">
    <img src="/public/img/archive-hero.jpg">
    <div class="hero-info">
        <h1>DATABASE DEBUGGING</h1>
    </div>
</div>

<section class="memories">
{{resp}}

Hey!
</section>