<h1>In the space of 11 years, Evoke members from all over the globe contributed more than 1,100 works of art, music, and photography to 33 exhibitions. Each of these pieces were meticulously crafted to represent an artist's interpretation of the theme.

Below, you can explore each of our releases, preserved here to honor the legacy of our artists.</h1>

<div class="exhibit-list">

    <article>
        <a href="/exhibit/test123">
            <img src="/public/img/temp-history-pic.jpg" />
            <h1>EvokeOne XXI: Voyage <em>//</em> July 2010 <em>//</em> 150 Submissions</h1>
        </a>
    </article>

    <article>
        <a href="#">
            <img src="/public/img/temp-history-pic.jpg" />
            <h1>EvokeOne XXI: Voyage <em>//</em> July 2010 <em>//</em> 150 Submissions</h1>
        </a>
    </article>

    <article>
        <a href="#">
            <img src="/public/img/temp-history-pic.jpg" />
            <h1>EvokeOne XXI: Voyage <em>//</em> July 2010 <em>//</em> 150 Submissions</h1>
        </a>
    </article>

    <article>
        <a href="#">
            <img src="/public/img/temp-history-pic.jpg" />
            <h1>EvokeOne XXI: Voyage <em>//</em> July 2010 <em>//</em> 150 Submissions</h1>
        </a>
    </article>

    <article>
        <a href="#">
            <img src="/public/img/temp-history-pic.jpg" />
            <h1>EvokeOne XXI: Voyage <em>//</em> July 2010 <em>//</em> 150 Submissions</h1>
        </a>
    </article>


</div>
