<h1>Over 1,110 pieces of art have been submitted to EvokeOne in the 10 years the group was active. The group set themes for artists to explore, and released packs of art...  adipiscing elit, sed do eiusmod tempor Below is the timeline of our releases. FPO text.</h1>

<div class="exhibit-list">

    <article>
        <a href="#">
            <img src="/public/img/temp-history-pic.jpg" />
            <h1>EvokeOne XXI: Voyage <em>//</em> July 2010 <em>//</em> 150 Submissions</h1>
        </a>
    </article>

    <article>
        <a href="#">
            <img src="/public/img/temp-history-pic.jpg" />
            <h1>EvokeOne XXI: Voyage <em>//</em> July 2010 <em>//</em> 150 Submissions</h1>
        </a>
    </article>

    <article>
        <a href="#">
            <img src="/public/img/temp-history-pic.jpg" />
            <h1>EvokeOne XXI: Voyage <em>//</em> July 2010 <em>//</em> 150 Submissions</h1>
        </a>
    </article>

    <article>
        <a href="#">
            <img src="/public/img/temp-history-pic.jpg" />
            <h1>EvokeOne XXI: Voyage <em>//</em> July 2010 <em>//</em> 150 Submissions</h1>
        </a>
    </article>

    <article>
        <a href="#">
            <img src="/public/img/temp-history-pic.jpg" />
            <h1>EvokeOne XXI: Voyage <em>//</em> July 2010 <em>//</em> 150 Submissions</h1>
        </a>
    </article>


</div>