
<div class="hero-wrap">
	<img src="/public/img/history-hero.jpg">
	<div class="hero-info">
		<h1>History</h1>
	</div>
</div>

<p>Evoke's story began in 2004 as a short-lived community known as Visual Sentiments. Visual Sentiments only released a few exhibitions on DeviantArt before disbanding, but it unleashed the spark that would later become Evoke.</p>

<p>After the collapse of Visual Sentiments, two teenage artists wanted to do something more---they were not satisfied with the prospect of an art group that would be here today gone tomorrow. Armed with little more than an internet connection and an idea, Justin Bristow (jiov) and Sean Graham (korpus-) founded a new group called EvokeOne. They recruited heavily from the Visual Sentiments member base and beyond.</p>

<p>In June of 2005, Evoke was born with the release of its first exhibition: Impression. This exhibition was a resounding success, followed by its successor, Emphasis.</p>

<p>Evoke began expanding rapidly and released a new website along with its third exhibition, Reboot.</p>
<figure>
	<a href="/public/img/old-site-1-full.jpg" target="_blank">
		<img src="/public/img/old-site-1-thumb.jpg" alt="EvokeOne's website in full effect"/>
		<figcaption>Evokeone.com in 2008</figcaption>
	</a>
</figure>
<p>From this point, it was clear that Evoke was not going to be another run of the mill art collective. As Evoke began branching into music and photography, its member base exploded to well over one hundred artists from every part of the world. Exhibitions regularly began to contain well over 100 pieces.</p>

<p>In 2007, with the release of the fourth version of its website, Evoke was indisputably one of the most prestigious online art communities around. Many new ideas were floated, such as selling prints and doing free work for charity.</p>

<p>The next two years were spent in the development of a new website framework, designed to give artists further tools to collaborate and hone their craft. This was completed in 2010. In 2011, Evoke members held a live art exhibition at Tag Galleries in Baltimore. We showcased Evoke art and reflected that while other groups had floudered, Evoke was still going strong.</p>

<figure class="pull-right">
	<a href="/public/img/old-site-2-full.jpg" target="_blank">
		<img src="/public/img/old-site-2-thumb.jpg" alt="EvokeOne's website in full effect"/>
		<figcaption>Evokeone.com in 2011</figcaption>
	</a>
</figure>

<p>After that point, Evoke sadly fell into the trap experienced by virtually every art collective: increased demands on our time. We had grown up together as artists and were now entering adult life. Without the freedom we enjoyed as teenagers, members began to have less and less time to contribute to exhibitions. Inactivity and technical problems that admins didn't have time to fix began to plague the group.</p>

<p>We attempted to rekindle the energy in 2014 with the release of a new website and a move away from exhibition releases. Soon after, however the writing was on the wall. We could not rekindle the old fire.</p>

<p>And so we decided, with sadness and resolve, to release one final exhibition. This exhibition would be titled "Forever," and would be available online indefinitely. </p>

<p>It is better to go out with a bang than a whimper.</p>

<p>Thank you for visiting our commemorative showcase.</p>
