<section class="home">

    <figure class="introduction">
        <figcaption>
            <span class="intro-text-wrap">
                <h1 class="intro-text">
                   It's been a long journey.

					When Evoke opened its doors 11 years ago (June 1, 2005), we had no idea where it would take us. Spurred on by the passion and creativity of two young artists, Justin Bristow and Sean Graham, Evoke represented a new foray into the competitive world of online digital art communities. While many vanished after a few releases, Evoke continued to produce quality exhibition after exhibition.

					That energy sustained us for many years. However, as Evoke members grew older and found themselves pressed with other demands, the original spark that carried the group for so long began to fade. And thus, we have decided to release one final commemorative exhibition and website, recognizing the contributions of our dedicated members over the years.

					Please enjoy our final exhibition: Forever.

					-Evoke team

                </h1>
            </span>
        </figcaption>
    </figure>

    <div class="buckets clearfix">

        <a href="/archive">
            <figure class="bucket">
                <div class="icon-wrapper">
                    <div class="icon">
                        <img src="/public/img/cloud-icon.png" />
                    </div>
                </div>
                <figcaption>
                    <h2>Download Archive</h2>
                    <p>18 Packs. 1,500 Pieces. 10 years in the making.</p>
                </figcaption>
            </figure>
        </a>

        <a href="#">
            <figure class="bucket">
                <div class="icon-wrapper">
                    <div class="icon">
                        <img src="/public/img/exhibit-icon.png" />
                    </div>
                </div>
                <figcaption>
                    <h2>View the Memorial Pack</h2>
                    <p>One Final Exhibit to show the love for Evoke!</p>
                </figcaption>
            </figure>
        </a>

        <a href="/memories">
            <figure class="bucket">
                <div class="icon-wrapper">
                    <div class="icon">
                        <img src="/public/img/memories-icon.png" />
                    </div>
                </div>
                <figcaption>
                    <h2>Submit a memory</h2>
                    <p>Share your memories of EvokeOne.</p>
                </figcaption>
            </figure>
        </a>

    </div>


</section>