
<div class="hero-wrap">
    <img src="/public/img/archive-hero.jpg">
    <div class="hero-info">
        <h1>Memories</h1>
    </div>
</div>

<section id="header-inset">
<p>
  In order to commemorate the efforts we've all put into Evoke over the years, we're leaving this section open to anyone to submit a thought or a memory about their time at Evoke.
</p>
</section>

<section id="memories-list">
{{#each memoryList.memories}}
		{{> memory}}
{{/each}}
</section>

<button id="show-add-memory" value="Add a memory.">Add a memory.</button>


<section id="memories-form-wrap">
<form id="memories-form">
  <span>Fill in your information below if you'd like to submit a memory. We welcome submissions from anyone, whether or not you were a member.</span>
    <label for="title">Tagline:</label>
    <input type="text" name="title" placeholder="I love Evoke" value="test" required />
    <label for="name">Your name:</label>
    <input type="text" name="name" placeholder="John Snow" value="test" required />
    <label for="comments">Your Memory:</label>
    <textarea name="comments" placeholder="I remember..." required>test</textarea>
  <div id="captcha"></div>
    <input type="submit" id="add-memory" value="Post my memory." />
</form>
</section>

<script src="public/js/memories-actions.js"></script>
