
<div class="hero-wrap">
    <img src="/public/img/archive-hero.jpg">
    <div class="hero-info">
        <h1>Memories</h1>
    </div>
</div>

<section id="header-inset">
<p>
  In order to commemorate the efforts we've all put into Evoke over the years, we're leaving this section open to anyone to submit a thought or a memory about their time at Evoke.
</p>
</section>

<section id="memories-list">
{{#each memoryList.memories}}
		{{> memory}}
{{/each}}
</section>

<section id="memories-form">
<span>Fill in your information below if you'd like to submit a memory. We welcome submissions from anyone, whether or not you were a member.</span>
{{#form "/memories/add"}}
    <label for="name">Your name:</label>
    <input type="text" placeholder="John Snow" />
    <label for="memory-text">Your Memory:</label>
    <textarea name="memory-text" placeholder="I remember..."></textarea>
  <div class="g-recaptcha" data-theme="dark" data-sitekey="6LeUhiMTAAAAAILXLm5zWrjfub5cLXlQgA_8QzKE"></div>
    {{submit "submit" "Post my memory."}}
{{/form}}
</section>
