
<figure class="clearfix">
	<img src="/public/img/history-hero.jpg">
	<figcaption>
		<h1 class="piece">The Blueprint</h1>
		<h2 class="artist-title">James Merrill</h2>
		<h3 class="exhibit">Exhibition XXVIII:<span class="exhibition-name">Reconstruction</span></h3>
	</figcaption>
</figure>

