.exhibit{
    .hero-info{
        z-index: 10;
        line-height: 1em;
        .tertiary-info{
            font-size: 12px;
            a {
              color: inherit;
              &:hover{
                color: $global-green;
              }
              &:after{
                content: " // ";
                color: $global-green;
              }
              &:last-child:after{
                content: "";
              }
            }
        }
        .date{
            &:after{
                content: ' // ';
                color: $global-green;
            }
        }
    }

    .artwork-list{
        display: flex;
        flex-wrap: wrap;

        .artwork-thumbnail{
            flex-basis: 25%;
            box-sizing: border-box;
            padding: 10px;
            margin: 0;
            &:hover{
                figcaption{
                    opacity: 1;
                }
            }
            a{
                @include headline-font;
                color: $global-lt-grey;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                //justify-content: center;
                text-transform: uppercase;
                font-size: 11px;
                text-decoration: none;
            }


            img{
                width: 100%;
                height: auto;
            }
            figcaption {
                box-sizing: border-box;
                padding: 10px;
                background: $global-dk-grey;
                text-align: center;
                max-width: 90%;
                margin: 0 auto;
                transform: translateY(-50%);
                transition: opacity .25s;
                opacity: 0;
            }

            .artist-title{
                &:after{
                    content: '&';
                    color: $global-green;
                }
                &:last-child:after{
                    display: none;
                }
            }
        }
    }

    #exhibition-info{
      // max-width: 700px;
      // min-width: 400px;

      #exhibition-description{
        display: none;
        height: 0%;
        overflow: hidden;
        opacity: 1;
         border: 1px solid black;
        background-color: $global-dk-grey;
        margin-top: -76px;
        color: #bbb;
        padding: 48px 15px 7px 15px;
        text-align: center;
        p {
          font-family: 'Lora', serif;
          margin-bottom: 7px;
          margin-top: 7px;
          text-align: left;
          text-indent: 25px;
          font-size: 100%;
          line-height: 1.2em;
        }
      }
}

}
