.exhibit{
    .hero-info{
        line-height: 1em;
        .tertiary-info{
            font-size: 12px;
        }
        .date{
            &:after{
                content: ' // ';
                color: $global-green;
            }
        }
    }

    .artwork-list{
        display: flex;
        flex-wrap: wrap;

        .artwork-thumbnail{
            flex-basis: 25%;
            box-sizing: border-box;
            padding: 10px;
            margin: 0;
            &:hover{
                figcaption{
                    opacity: 1;
                }
            }
            a{
                @include headline-font;
                color: $global-lt-grey;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                font-size: 11px;
                text-decoration: none;
            }


            img{
                width: 100%;
                height: auto;
            }
            figcaption {
                box-sizing: border-box;
                padding: 10px;
                background: $global-dk-grey;
                text-align: center;
                max-width: 90%;
                margin: 0 auto;
                transform: translateY(-50%);
                transition: opacity .25s;
                opacity: 0;
            }

            .artist-title{
                &:after{
                    content: '&';
                    color: $global-green;
                }
                &:last-child:after{
                    display: none;
                }
            }
        }
    }

    #exhibition-info{
      max-width: 700px;
      min-width: 400px;
      margin: auto;

      span{
        display: block;
        width: 100%;
        border: 2px solid #000000;
        background-color: rgba(18,18,18, 0.75);
        padding: 15px;
        text-align: center;
        p {
          margin-bottom: 7px;
          margin-top: 7px;
          text-align: left;
          text-indent: 25px;
          font-size: 100%;
        }
      }
      nav {
    	    display: block;
          width: 75%;
          text-align: center;
          margin: auto;
    		a {
    		    display: inline-block;
    		    color: $global-lt-grey;
    		    font-family: 'Montserrat', sans-serif;
    		    text-transform: uppercase;
    		    text-decoration: none;
    		    font-size: 14px;
    		    padding: 14px 5px;
    		    margin: 0 8px;
            // background: $global-dk-grey;
            // border: 2px solid black;
            margin-top: -2px;
            // width: 100px;
    			&:hover{
    				color: $global-green;
    			}
    			&.highlighted{
    				&:after{
    					color: $global-pink;
    					content: '*';
    				}
    		  }
    }
  }
}

}
