.home {
    .introduction {
        position: relative;
        background-size: cover;
        height: 400px;
        box-shadow: inset 0 0 150px rgba(12,12,12,1);
        border: 1px solid #232323;
        margin: 0 0 50px;
        padding: 0;
        width: 100%;

        @for $i from 1 through 6 {
            &.background-#{$i} {
                background: url("../../img/homepage-hero-bg-#{$i}.jpg") center;
                background-size: cover;
            }
        }


    }
    .introduction:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(12,12,12,.8);
    }
    .introduction figcaption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .introduction h1 {
        font-family: 'Lora', serif;
        font-size: 28px;
        font-weight: normal;
    }
    .introduction .intro-text-wrap {
        display: table;
        width: 100%;
        height: 100%;
    }
    .introduction .intro-text {
        display: table-cell;
        vertical-align: middle;
        padding: 0 50px;
        color: #ddd;
        text-align: center;
        font-size: 24px;
        line-height: 1.4em;
    }
    .introduction img {
        width: 100%;
    }

    .sub-intro{
        text-align: center;
        font-size: 18px;
        padding: 0 50px;
        margin-bottom: 50px;
        em{
            color: $global-green;
        }
    }

    .buckets {
        display: flex;
    }
    .bucket {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 25px;
        text-align: center;
        font-size: 14px;
        color: #bababa;
    }
    .buckets a {
        display: block;
        width: 33%;
        float: left;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
        outline: 1px solid rgba(0,0,0,0);
    }
    .buckets a:hover {
        outline: 1px solid #232323;
    }
    .buckets a:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        width: 100px;
        height: 100px;
        background: #151515;
        top: 100%;
        left: 50%;
        margin-left: -50px;
        border-radius: 100%;
        transition: all 0.5s ease-in;
    }
    .buckets a:hover:after {
        transform: scale3D(10,10,10);
        transition: all 0.5s ease-in-out;
        background: #0e0e0e;
    }
    .buckets a:hover img {
        transform: translateY(-10px);
    }
    .bucket {
        position: relative;
        z-index: 2;
    }
    .bucket img {
        margin-bottom: 15px;
        transition: all 0.3s;
    }
    .bucket h2 {
        font-size: 18px;
        border-bottom: 1px solid #232323;
        text-transform: uppercase;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .bucket p {
        margin-top: 0;
    }
    .bucket .icon-wrapper {
        display: table;
        width: 100%;
        min-height: 190px;
    }
    .bucket .icon {
        display: table-cell;
        vertical-align: middle;
    }
}
