.memories{
  #memories-list{

  }

  #memories-list{
    display: flex;
    flex-direction:  row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
  }

  #memories-list figure{
    margin: 3px;
    display: inline-block;
    min-width: 300px;
    flex: auto;
    max-width: 800px;
    flex-basis: 300px;
    background-color: #121212;
    padding: 7.5px 15px 15px 15px;
    border: 2px solid #181818;
  }

  #memories-list h2{
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #memories-list span{
    color: #ee3333;
  }

  #memories-form{
    width: 300px;
    padding: 15px;
    background-color: #121212;
    border: 2px solid #181818;
  }

  #memories-form span{
    font-size: 75%;
  }

  #memories-form label{
    font-size: 75%;
    font-family: 'Montserrat', sans-serif;
    width: 295px;
    display: block;
    color: #ee3333;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  #memories-form input, textarea{
    width: 295px;
    color: #303030;
    background-color: #222222;
    display: block;
    margin-bottom: 15px;
  }

  #memories-form button{
    width: 300px;
    background-color: #222222;
    margin-top: 15px;
  }

  .g-recaptcha {
    display: block;
    width: 300px;
  }

}
