.single-art {

    &.expanded{
        max-width: inherit;
        .art-wrapper{
            display: block;
        }
        .art-img{
            width: inherit;
            max-width: inherit;
            display: block;
            margin: 0 auto;
        }
    }
    .art-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        .art-img{
            max-width: 100%;
            height: auto;
        }
    }

    .artwork-navigator{
        display: inline-block;
        font-family: 'Montserrat';
        font-size: 10px;
        background-color: #0e0e0e;
        border: 1px solid #000;
        text-transform: uppercase;
        margin-bottom: 10px;
        a{
            display: inline-block;
            padding: 10px 15px;
        }
    }

    figure{
        padding: 0;
        margin: 0;
    }

    figcaption {

        background-color: #0e0e0e;
        border: 1px solid #000;
        text-transform: uppercase;
        box-sizing: border-box;
        padding: 10px 25px;
        margin-top: 10px;
        align-self: flex-end;
        max-width: 50%;

        a{
            font-family: 'Montserrat'
        }
        h1 {
            font-size: 16px;
            margin-top: 0;
        }
        .artist-wrap{
            border-bottom: 1px solid #202020;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        .artist-title {
            display: flex;
            font-size: 12px;
            a{
                padding-left: 10px;
                color: $global-green
            }
        }
        .exhibit {
            font-size: 10px;
        }

        .single-art .exhibition-name {
            color: #ff3366;
        }
    }
}
