
  #splash-text{
    text-align: center;
    margin: 100px auto 100px auto;
    color: #45e96d;
    font-family: "Montserrat", sans-serif;
    font-size: 150px;
    font-weight: 100;
    height: 200px;
  }

  .splash-footer {
    background: #111111;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
  }
