$global-green: #00cc99;
$global-pink: red;
$global-dk-grey: #0e0e0e;
$global-lt-grey: #ddd;
$global-med-grey: #181818;
$global-med-grey-border: #222222;
$global-pink2: #ee4444;
$global-light-pink: #cc8888;
$global-semi-grey: rgba(18, 18, 18, 0.75);

@mixin headline-font{
    font-family: 'Montserrat', sans-serif;
}

@import 'partials/normalize';
@import 'partials/global-theme';
@import 'partials/pages/archive';
@import 'partials/pages/exhibits';
@import 'partials/pages/history';
@import 'partials/pages/home';
@import 'partials/pages/single-art';
@import 'partials/pages/exhibit';
@import 'partials/pages/memories';
@import 'partials/pages/splash';
@import 'partials/pages/interview';
