.history p {
    font-size: 18px;
    line-height: 1.4em;
    padding: 0 50px;
}

.history .intro-wrap {
	text-align: center;
}

.history h1{
	display: inline-block;
	background-color: #0e0e0e;
	border: 1px solid #000;
	text-transform: uppercase;
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	padding: 0 50px;
	margin: 0;
	transform: translateY(-27px);
	box-sizing: border-box;
}