.home .introduction{
    position: relative;
    background:url(../img/homepage-hero-bg-1.jpg) center;
    background-size: cover;
    height: 400px;
    box-shadow: inset 0px 0px 150px rgba(12,12,12,1);
    border: 1px solid #232323;
    margin:0 0 50px 0;
    padding: 0;
    width: 100%;
}
.home .introduction:after{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(12,12,12,.8);
}
.home .introduction figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.home .introduction h1{
    font-family: 'Lora', serif;
    font-size: 28px;
    font-weight: normal;
}

.home .introduction .intro-text-wrap{
    display: table;
    width: 100%;
    height: 100%;
}
.home .introduction .intro-text{
    display: table-cell;
    vertical-align: middle;
    padding: 0 50px;
    color: #ddd;
    text-align: center;
    font-size: 24px;
    line-height: 1.4em;
}

.home .introduction img{
    width: 100%;
}

.home .buckets{


}
.home .bucket{
    position: relative;
    box-sizing:border-box;
    margin: 0;
    padding: 25px;
    text-align: center;
    font-size: 14px;
    color: #bababa;
}
.home .buckets a{
    display: block;
    width: 33%;
    float: left;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition:all .5s ease-in-out;
    outline: 1px solid rgba(0,0,0,0);
}
.home .buckets a:hover{
    outline: 1px solid #232323;
}
.home .buckets a:after{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background: #151515;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    border-radius:100%;
    transition:all .5s ease-in;
}
.home .buckets a:hover:after{
    transform:scale3D(10,10,10);
    transition:all .5s ease-in-out;
    background: #0e0e0e;
}

.home .buckets a:hover img{
    transform:translateY(-10px);
}

.home .bucket{
    position: relative;
    z-index: 2;
}
.home .bucket img{
    margin-bottom: 15px;
    transition:all .3s;
}
.home .bucket h2{
    font-size: 18px;
    border-bottom: 1px solid #232323;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.home .bucket p{
    margin-top: 0;
}

.home .bucket .icon-wrapper{
    display: table;
    width: 100%;
    min-height: 190px;
}

.home .bucket .icon{
    display: table-cell;
    vertical-align: middle;
}