/* Global Styles */

html,body{
		font-family: 'Lora', serif;
		background: #141414 url(../img/background-pattern.gif);
		height: 100%;
		color: #ddd;
}

p {
		font-size: 18px;
		line-height: 1.5em;
		padding: 0 50px;
}

.page-wrap{
		min-height: 100%;
		margin-bottom: -90px;
}
.page-wrap:after {
	content: "";
	display: block;
}
footer, .page-wrap:after {
	height: 90px;
}

header{
		text-align: center;
		padding-top: 25px;
}

header .logo{
		display: block;
		margin-bottom: 20px;
}
header .logo svg{
		width: 105px;
		height: 50px;
		fill:#ddd;
}

h1, h2, h3, h4, h5{
		font-family: 'Montserrat', sans-serif;
}

header .logo-tagline{
		color: #ddd;
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 15px;
}

header nav{
		display: block;
		border-top:1px solid #232323;
		border-bottom:1px solid #232323;
}
header nav a{
	 display: inline-block;
	 color: #ddd;
	 font-family: 'Montserrat', sans-serif;
	 text-transform: uppercase;
	 text-decoration: none;
	 font-size: 14px;
	 padding:14px 5px;
	 margin: 0 8px;
}

footer{
		background: #111111;
		text-align: center;
}

footer .disclaimer{
		color: #ddd;
		font-size: 10px;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
}

footer .logo svg{
		width: 50px;
		height: 40px;
		fill:#ddd;
}

.section-wrap{
		max-width: 1000px;
		margin: 0 auto;
		padding: 50px 0 150px;
}

.clearfix:after {
		 visibility: hidden;
		 display: block;
		 font-size: 0;
		 content: " ";
		 clear: both;
		 height: 0;
		 }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.hero-wrap {
	text-align: center;
}

.hero-wrap h1{
	display: inline-block;
	background-color: #0e0e0e;
	border: 1px solid #000;
	text-transform: uppercase;
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	padding: 0 75px;
	margin: 0;
	transform: translateY(-27px);
	box-sizing: border-box;
}

.btn-lg{
	background:#00cc99;
	font-size: 18px;
	color: #064737;
	border: 1px solid #00281e;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding: 15px 25px;
	text-decoration: none;
}
.btn-lg img{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}



